#footer(style='margin-top: 50px; padding-top: 20px; padding-bottom: 30px;')
    .container
        .col-md-3
            p
                a(href='/') Home
            p
                a(href='#') Vision Explorer
        .col-md-3
            p
                a(href='#', target='_blank').fa.fa-github  Vision Explorer
            p
                a(href='#', target='_blank').fa.fa-github  Vision Explorer
        .col-md-6
            span.pull-right copyright 2015