<div id="footer" style="margin-top: 50px; padding-top: 20px; padding-bottom: 30px;">
    <div class="container">
        <div class="col-md-3">
            <p>
                <a href="/">Home</a>
                <a href="#">Vision Explorer</a>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <a href="/">Home</a>
                <a href="#">Vision Explorer</a>
            </p>
        </div>
        <div class="col-md-6">
            <span class="pull-right">
                Copyright 2015
            </span>
        </div>
    </div>
</div>