meta(charset='UTF-8')
title Vision Explorer
link(rel='stylesheet', type='text/css', href='/webjars/font-awesome/4.3.0-2/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='/css/app.css')