!!! 5
html
  head
    include head
    block head
  body
    include main_navbar
    .container
      .page-header
        .clearfix
          block page_title
      br
      .clearfix
        .container
          block body
    include footer
    #modal-add-resource.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modal-add-resource-label", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4#modal-add-resource-label.modal-title Upload
          .modal-body
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
    #dock
      #add-resource-button(data-toggle="modal", data-target="#modal-add-resource")