<div class="navbar navbar-default navbar-fixed-top" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main_navbar_items">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/public/logo.svg">
      </a>
    </div>
    <div class="main_navbar_items navbar-collapse collapse">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" type="text">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go</button>
            </span>
          </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <shiro:guest>
          <li>
            <a href="/profile"><shiro:principal/></a>
          </li>
        </shiro:guest>
        <shiro:authenticated>
          <li>
            <a href="/signup">Sign up</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </shiro:authenticated>
      </ul>
    </div>
  </div>
</div>