#main_navbar.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main_navbar_items')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src="/public/logo.svg")
    #main_navbar_items.navbar-collapse.collapse
      form.navbar-form.navbar-left(role="search")
        .form-group
          .input-group
            input.form-control(type="text")
            span.input-group-btn
              button.btn.btn-default(type="button") Go
      ul.nav.navbar-nav.navbar-right
        if currentUser.now()
          li
            a(href='/profile')= currentUser.now()
        else
          li
            a(href='/signup') Sign up
          li
            a(href='/login') Login
