<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/layout :: headerFragment">
</head>
<body>
    <div th:include="layouts/layout :: navbarFragment">
    </div>
    <div class="container">
        <div class="page-header">
            <div class="clearfix">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <h1>Vision Explorer <small>Vivid</small></h1>
                </div>
            </div>
        </div>
        <br/>
        <div class="clearfix">
            <div class="container">
                TODO
            </div>
        </div>
    </div>
    <div th:include="layouts/layout :: footerFragment">
    </div>
</body>
</html>