<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layouts/layout :: headerFragment">
</head>
<body>
<div th:include="layouts/layout :: navbarFragment">
</div>
<div id="main">
  <div class="user-detail">
    <div class="user-meta">
      <div class="container">
        <div class="user-info">
          <div class="user-avatar">
            <img th:src="@{${user.avatar}}"></img>
          </div>
          <div class="user-info-detail">
            <span class="user-username" th:text="${user.username}"></span>
            <span class="user-email" th:text="${user.email}"></span>
          </div>
        </div>
        <button th:href="@{/follow?usernameToFollow=${user.username}}">Follow</button>
        <button th:href="@{/un_follow?usernameToUnFollow=${user.username}}">UnFollow</button>
      </div>
    </div>
    <div id="timeline" class="user-timeline"></div>
  </div>
</div>
<div th:include="layouts/layout :: footerFragment">
</div>
</body>
</html>