extends ../layouts/layout

block body
  h1 Sign up
    div
      form(name='f', action='/signup', method='post')
        fieldset
          legend Sign Up
          label(for='email') Email
          input#username(type='text', name='email')
          label(for='username') Username
          input#username(type='text', name='username')
          label(for='password') Password
          input#password(type='password', name='password')
          label(for='confirm') Conform Password
          input#password(type='password', name='confirm')
          .form-actions
            button.btn(type='submit') Sign up