<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layouts/layout :: headerFragment">
</head>
<body>
<div th:include="layouts/layout :: navbarFragment">
</div>
<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default user-profile">
          <div class="panel-heading">
            <span class="title"><shiro:principal/>'s Profile</span>
          </div>
          <div class="panel-body">
            <div class="user-avatar">
              <img th:src="@{${user.avatar}}"/>
            </div>
            <p>Username: <strong th:text="${user.username}"></strong></p>
            <p>Email: <strong th:text="${user.email}"></strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="title">Upload Avatar</span>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" action="avatar" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label class="control-label col-md-1" for="file">File</label>
                <div class="col-md-11">
                  <input id="file" class="form-control" type="file" name="file"/>
                </div>
              </div>
              <div class="form-actions form-group">
                <div class="col-md-offset-1 col-md-11">
                  <button class="btn btn-default" type="submit">Upload</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:include="layouts/layout :: footerFragment">
</div>
</body>
</html>