extends ../layouts/layout
block page_title
    .col-md-12.col-sm-6.col-xs-12
        h1 Vision Explorer
            small Upload
block body
    h1 Hello #{user}
    div
        form(method='post', action='upload', enctype='multipart/form-data')
            fieldset
                legend Please upload a file
                label(for='file') Please choose a file to upload
                input#file(type='file', name='file')
                .form-actions
                    button.btn(type='submit') Upload