extends ../layouts/layout

block body
  .row
    .col-md-offset-3.col-md-6
      .panel.panel-info
        .panel-heading
          span.title Login
        .panel-body
          form.form-horizontal(action='/login', method='post')
            .form-group
              label.control-label.col-md-3(for='username') Username
              .col-md-9
                input#username.form-control(type='text', name='username')
            .form-group
              label.control-label.col-md-3(for='password') Password
              .col-md-9
                input#password.form-control(type='password', name='password')
            .form-actions.form-group
              .col-md-offset-3.col-md-9
                button.btn.btn-default(type='submit') Log in
