<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/layout :: headerFragment">
</head>
<body>
<div th:include="layouts/layout :: navbarFragment">
</div>
<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default panel-feed">
          <!--<span class="title" th:text="${pins.time}"></span>-->
          <!--<span class="title" th:text="${pins.userId}"></span>-->
          <!--<span th:text="${pins.time}"></span>-->
          <img th:src="${pins.body}"/>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div th:if="${#lists.isEmpty(comments)}">
              <span>There is no comment at this time.</span>
            </div>
            <div th:if="!${#lists.isEmpty(comments)}">
              <div class="comment" th:each="comment, iterationStatus : ${comments}">
                <div class="user-avatar">
                  <img th:src="${comment.user.avatar}"/>
                </div>
                <div class="main-comment-content">
                  <a th:href="${comment.user.username}" th:text="${comment.user.username}"></a>
                  <div class="content">
                    <span th:text="${comment.comment.body}"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form id="add-comment-form" class="form-horizontal" th:action="@{/comment}" method="post">
              <input type="hidden" name="pinId" th:value="${pins.pk.pinId}"/>
              <textarea id="add-comment" placeholder="Add comment" name="body"></textarea>
              <button class="btn btn-success" type="submit">Comment</button>
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="share-collection">
              <h4>Share</h4>
              <a href="#"><img th:src="@{/public/dropbox.png}"></img></a>
              <a href="#"><img th:src="@{/public/email.png}"></img></a>
              <a href="#"><img th:src="@{/public/facebook.png}"></img></a>
              <a href="#"><img th:src="@{/public/twitter.png}"></img></a>
              <a href="#"><img th:src="@{/public/instagram.png}"></img></a>
              <a href="#"><img th:src="@{/public/tumblr.png}"></img></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:include="layouts/layout :: footerFragment">
</div>
</body>
</html>